.review-tile {
  width: 616px;
  margin-bottom: 26px;
  background-color: var(--20-tint);
  display: flex;
  position: relative;
}

.review-tile-left {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
  opacity: 0.6;
}

.review-tile:hover > .review-tile-left {
  opacity: 1;
}

.review-tile-left > header {
  display: flex;
}

.review-tile-left > header > img {
  width: 32px;
  height: 32px;
  border: 2px solid var(--ml-blue);
  margin-right: 8px;
}

.review-tile-left-top-row {
  display: flex;
  flex-direction: column;
}

#review-author-username {
  font-family: 'Motiva Sans 700' sans-serif;
  color: var(--83-grayb);
  font-size: 13px;
  margin-bottom: 10px;
}

.review-tile-left a {
  color: var(--83-grayb);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.review-tile-left a:hover {
  cursor: pointer;
  color: var(--light-blue);
}

.review-tile-right {
  width: 400px;
  box-sizing: border-box;
  margin-left: 14px;
  padding-top: 8px;
}

.review-tile-right > header {
  margin-bottom: 13px;
  display: block;
  background: var(--20-tint);
  display: flex;
}

.review-tile-header-summary {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.review-tile-header-summary > h1 {
  font-size: 16px;
  color: var(--87-graybb);
  margin-top: 5px;
}

.review-tile-header-summary > span {
  font-family: 'Motiva Sans 300', sans-serif;
  font-size: 11px;
  line-height: 15px;
  opacity: 0.6;
}

.review-tile-right > h1 {
  margin-bottom: 8px;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--59-graybb);
  opacity: 0.6;
}

.review-tile-right > p {
  font-size: 13px;
  line-height: 17px;
  color: var(--70-graybb);
  margin-right: 8px;
}

.review-tile-right > h2 {
  margin-top: 8px;
  border-top: 1px solid var(--24-graybb);
  padding-top: 8px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--40-graybb);
}

.review-controls {
  padding: 10px 0 5px 0;
  display: flex;

}

.review-controls > button.light-blue-button {
  margin: 0 3px 0 0;
  background: var(--medium-blue);
  padding: 1px 6px;
  height: 20px;
  font-size: 12px;
}

.review-controls > button.light-blue-button > i {
  margin-right: 6px;
}

.voted-yes, .voted-no, .voted-funny {
  color: white;
  background: var(--mid-blue) !important;
}

.voted-yes > i {
  color: var(--light-green-bg-hover);
}

.voted-no > i {
  color: var(--negative-rating);
}

.voted-funny > i {
  color: var(--funny-yellow);
}

.review-vote-stats {
  margin: 8px 0;
}

.review-vote-stats > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: hsl(204, 12%, 45%);
  margin-bottom: 2px;
}

.review-form-update {
  margin-right: 8px;
}

.review-form-update .review-form-options {
  margin-top: 4px;
}

.review-form-update .review-form-options span {
  height: 28px;
}

.review-form-update .review-form-options .post-review-button {
  padding: 4px 8px;
  font-size: 14px;
}

.review-form-update .review-form-options-button {
  padding: 0 8px;
  font-size: 13px;
  height: 100%;
}

.review-form-update .review-form-options-button > i {
  font-size: 14px;
  margin-right: 6px;
}

.review-form-update .review-form-options-button:disabled::after {
  content: '\2713';
  font-weight: bolder;
  font-size: 15px;
  color: white;
  position: absolute;
  left: 8px;
}