.review-form-component {
  width: 940px;
  margin-bottom: 56px;
}

.review-form-component > header {
  background: linear-gradient(to right, rgba(163,207,6,0.6) 0%,rgba(75,106,33,0.6) 100%);
  font-size: 18px;
  font-family: "Motiva Sans 300", Sans-serif;
  line-height: 40px;
  color: #a3cf06;
  position: relative;
  padding-left: 78px;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.in-library-flag {
  position: absolute;
  background-color: #a3cf06;
  height: 18px;
  left: -8px;
  top: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px black;
  padding: 1px 6px 0 6px;
  box-sizing: border-box;
}

.in-library-flag > i {
  margin-right: 4px;
}

.review-form-main {
  padding: 16px;
  background: linear-gradient(135deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
}

.review-form-main > h1 {
  font-family: 'Motiva Sans 300', sans-serif;
  color: var(--light-blue);
  font-size: 18px;
  margin-bottom: 5px;
}

.review-form-main > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #8f98a0;
}

.review-form-main > h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--83-grayb);
  font-size: 12px;
  margin-top: 16px;
}

.review-form-stats {
  padding-bottom: 16px;
  border-bottom: 1px solid black;
  margin-bottom: 16px;
}

.review-form-wrapper {
  margin-top: 16px;
  display: flex;
  padding-right: 8px;
}

.review-form-wrapper > a > img {
  width: 92px;
  height: 92px;
  border: 1px solid #53a4c4;
}

/* thumbs up and thumbs down styling */
.review-form-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: 8px 0 16px 8px;
}

.review-form-thumb > i {
  font-size: 34px;
}

.review-form-thumb.thumbs-up {
  background: linear-gradient(#355f7b, #234e6a);
  color: var(--light-blue);
}

.review-form-thumb.thumbs-down {
  background: linear-gradient(#64343a, #4d1d23);
  color: #e06363;
}

.review-form-thumb.fourty {
  width: 40px;
  height: 40px;
  margin: 0;
}

.review-form-thumb.fourty > i {
  font-size: 30px;
}
/*  */

.review-form-wrapper > h3 {
  font-size: 14px;
  color: #898A8C;
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  margin-left: 10px;
  margin-top: 20px;
}

.review-form-wrapper > h3 > a {
  color: white;
}

.review-form-wrapper > h3 > a:hover {
  color: var(--light-blue);
}