.news-wrapper {
  width: 706px;
  height: 90vh;
  background: radial-gradient(circle at top left, var(--24-gray), var(--15-blue) 50%);
  color: white;
  position: relative;
}

.x-news-modal {
  background: none;
  border: none;
  color: var(---60-gray);
  font-size: 16px;
  position: absolute;
  top: 8px;
  right: 2px;
}

.x-news-modal:hover {
  cursor: pointer;
  color: white;
}

.news-content {
  background: linear-gradient(to bottom, var(--21-blue), var(--medium-blue));
  width: 690px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 32px;
  bottom: 64px;
  margin: 0 auto;
  overflow-y: scroll;
}

.news-article {
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
}

.news-article > span {
  margin-bottom: 12px;
}

.news-article > span h3 {
  display: inline;
  margin-right: 6px;
  font-size: 12px;
  color: var(--54-gray);
}

.news-article > h1 {
  font-size: 24px;
  line-height: 36px;
  color: var(--90-gray);
  font-family: 'Motiva Sans 100', sans-serif;
  margin-bottom: 24px;
}

.news-article > p {
  font-size: 14px;
  color: var(--83-blue-gray);
  line-height: 19px;
  margin-bottom: 12px;
}

#news-text {
  font-family: 'Motiva Sans 500', sans-serif;
  color: var(--strong-blue);
}

#posted-text {
  font-family: 'Motiva Sans 100', sans-serif;
  color: var(--75-gray);
  letter-spacing: 1px;
}

.close-news-modal {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-family: 'Motiva Sans 400';
  border: none;
  background-color: var(--24-gray);
  color: var(--84-gray);
  padding: 8px 10px;
  border-radius: 2px;
  transition: 0.4s;
}

.close-news-modal:hover {
  cursor: pointer;
  background-color: var(--33-gray);
  color: white;
  box-shadow: 0px 0px 10px 0px var(--50-tint);
}