.wishlist-button i {
  margin: 0 8px 0 -6px;
  font-size: 20px;
}

.wishlist-button.active {
  background-color: rgba(103, 193, 245, 0.6);
}

.wishlist-button.active:hover {
  background: linear-gradient(-60deg, var(--ml-blue) 5%,var(--light-blue) 95%);
}