.footer-wrapper {
  width: 100%;
  height: 182px;
  background-color: #171a21;
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-sandwich {
  border-top: 1px solid #363c44;
  border-bottom: 1px solid #363c44;
  width: 940px;
  height: 53px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #8F98A0;
  padding: 8px 0;
  margin-bottom: 16px;
}

.array-logo {
  background-color: #969eab;
  width: 84px;
  height: 25px;
  color: #171a21;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.1em;
  font-family: 'Motiva Sans 700', sans-serif;
  font-size: 20px;
  padding-top: 2px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}

.array-logo span {
  font-family: 'Motiva Sans 700', sans-serif;
  font-size: 14px;
}

.legal-text-wrapper {
  margin: 0 16px;
  width: 692px;
}

.legal-text-wrapper p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.legal-text-wrapper a {
  color: #C6D4DF;
  text-decoration: none;
}

.legal-text-wrapper a:hover {
  color: white;
}

.footer-solar-logo {
  display: flex;
  margin-left: 50px;
}

.footer-solar-logo i {
  font-size: 34px;
  margin-top: -3px;
  margin-right: 2px;
}

.footer-solar-logo h1 {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Motiva Sans 700', sans-serif;
  margin-top: 6px;
}

.footer-links {
  width: 940px;
  font-size: 13px;
  font-size: 13px;
  color: #61686D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}

.footer-links p {
  color: #8F98A0;
  margin-right: 6px;
}

.footer-links p:nth-of-type(2) {
  margin-left: 50px;
}

.footer-links a {
  color: #C6D4DF;
  text-decoration: none;
  margin: 0 7px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a:hover {
  color: white;
}

.footer-links a i {
  font-size: 14px;
  margin-right: 4px;
}

.footer-links span {
  display: flex;
}