.store-home-page aside { /* StoreSidebar */
  width: 210px;
  height: 500px;
  /* height: 1086px; */
  margin-right: 24px;
  /* background-color: var(--20-tint); */
  position: absolute;
  top: -65px;
  left: 58px;
}