.store-home-page {
  background: url(https://store.akamai.steamstatic.com/public/images/v6/colored_body_top.png?v=2) center top no-repeat var(--medium-blue);
  width: 100vw;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-featured-box-wide-wrapper {
  background: url(https://store.akamai.steamstatic.com/public/images/v6/home/cluster_bg.png?v=1) center bottom no-repeat transparent;
  width: 100%;
  height: 454px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
}

.store-home-button {
  position: absolute;
  box-sizing: content-box;
  top: 42%;
  width: 23px;
  height: 36px;
  padding: 36px 11px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-home-button:hover {
  cursor: pointer;
}

.button-left {
  left: -46px;
  background-image: linear-gradient(
    to right, var(--40-tint) 5%, transparent 95%
  );
}

.button-left:hover {
  background-image: linear-gradient(
    to right, rgba(171, 218, 244, 0.3) 5%, transparent 95%
  );
}

.button-right {
  right: -46px;
  background-image: linear-gradient(
    to right, transparent 5%, var(--40-tint) 95%
  );
}

.button-right:hover {
  background-image: linear-gradient(
    to right, transparent 5%, rgba(171, 218, 244, 0.3) 95%
  );
}

.store-sign-in-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 908px;
  height: 130px;
  padding: 16px;
  background-color: var(--20-tint);
  margin-bottom: 80px;
  font-size: 15px;
  color: #8f98a0;
}

.store-sign-in-box > span > a {
  color: white;
}

.store-sign-in-box > span > a:hover {
  color: white;
  color: var(--light-blue);
}

.store-sign-in-box > a {
  border-top: 1px solid var(--42-green);
}