.store-home-page {
  background: url(https://store.akamai.steamstatic.com/public/images/v6/colored_body_top.png?v=2) center top no-repeat #1b2838;
  width: 100vw;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-home-page aside { /* StoreSidebar */
  width: 210px;
  height: 1086px;
  margin-right: 24px;
  /* box-sizing: border-box; */
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -65px;
  left: 58px;
}

.store-featured-box-wide-wrapper {
  background: url(https://store.akamai.steamstatic.com/public/images/v6/home/cluster_bg.png?v=1) center bottom no-repeat transparent;
  width: 100%;
  height: 454px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.store-home-button {
  position: absolute;
  box-sizing: content-box;
  top: 42%;
  width: 23px;
  height: 36px;
  padding: 36px 11px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-home-button:hover {
  cursor: pointer;
}

.button-left {
  left: -46px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 5%, transparent 95%);
}

.button-left:hover {
  background-image: linear-gradient(to right, rgba(171, 218, 244, 0.3) 5%, rgba(171, 218, 244, 0) 95%);
}

.button-right {
  right: -46px;
  background-image: linear-gradient(to right, transparent 5%, rgba(0, 0, 0, 0.4) 95%);
}

.button-right:hover {
  background-image: linear-gradient(to right, rgba(171, 218, 244, 0) 5%, rgba(171, 218, 244, 0.3) 95%);
}