.library-page {
  width: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  min-height: 59vh;
  background-color: var(--medium-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-header {
  width: 978px;
  height: 102px;
  background-color: var(--21-blue);
  padding: 18px 20px 16px 30px;
  box-sizing: border-box;
  display: flex;
}

.library-header > img {
  width: 64px;
  height: 64px;
}

.library-header > div {
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding: 0 0 17px 22px;
  box-sizing: border-box;
}

.library-header > div * {
  font-family: Arial, Helvetica, sans-serif;
}

.link-to-profile {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.link-to-profile:hover {
  cursor: pointer;
  color: var(--light-blue);
}

.library-header > div span {
  font-size: 16px;
  color: var(--54-gray);
  margin: 0px 4px 0 10px;
}

.link-to-games {
  font-size: 14px;
  color: var(--90-gray);
  text-decoration: none;
}

.link-to-games:hover {
  cursor: pointer;
  color: var(--light-blue);
}

.library-main-column {
  width: 936px;
  height: 100%;
  margin-right: 12px;
}