.library-item-wrapper {
  background: var(--20-tint);
  width: 100%;
  height: 90px;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 4px;
  display: flex;
}

.library-item-wrapper img {
  width: 184px;
  height: 69px;
}

.library-item-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.library-item-info-wrapper h1 {
  font-family: 'Motiva Sans 300';
  font-size: 14px;
}

.library-item-info-wrapper p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--40-blue-gray-text);
}

.library-item-info-wrapper a {
  width: 85px;
  height: 26px;
  background-color: color-mix(in hsl, var(--light-blue), transparent 80%);
  border-radius: 2px;
  color: var(--light-blue);
  box-sizing: border-box;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library-item-info-wrapper a i {
  margin-right: 6px;
}

.library-item-info-wrapper a:hover {
  background-color: color-mix(in hsl, var(--light-blue), transparent 60%);
  cursor: pointer;
  color: white;
}
