/* Site wide styles */
@import url('reset.css');

/* degree-color-modifier */
:root {
  --strong-blue: hsl(220, 100%, 60%); /* login + signup, various header text */
  --neon-blue:   hsl(195, 100%, 50%); /* login + signup, various accents */
  --light-blue:  hsl(201, 81%, 67%); /* light-blue-button hover left, various text and elements */
  --mid-blue:    hsl(202, 41%, 33%); /* light-blue-button hover right, Post review text,
  Post review hover bottom, carousel arrows */

  --strong-orange: hsl(27, 100%, 45%);
  --light-orange:  hsl(32, 100%, 62%);
  --dark-orange:   hsl(27, 100%, 25%);

  --light-blue-thumb: hsl(204, 40%, 35%); /* thumbs up icons, game show carousel thumb hovered */
  --dark-blue-thumb:  hsl(204, 50%, 28%); /* only thumbs up icons */
  --main-red-thumb:   hsl(0, 67%, 63%); /* also all errors and negative rating/vote */
  --light-red-thumb:  hsl(353, 32%, 30%); /* only thumbs down icons */
  --dark-red-thumb:   hsl(353, 45%, 21%); /* only thumbs down icons */

  --27-blue:     hsl(207, 38%, 27%); /* review header bg, game show carousel thumb(mixed), tablist bg top gradient */
  --21-blue:     hsl(215, 21%, 21%); /* library header bg + news top gradient + TabList titles + review input bg */
  --15-blue:     hsl(218, 11%, 15%); /* signup bg, news border gradient bg */
  --medium-blue: hsl(215, 31%, 16%); /* main bg color, review vote bg, news bottom gradient */
  --dark-blue:   hsl(222, 18%, 11%); /* header and footer */

  --90-gray: hsl(0, 0%, 90%); /* various text + links */
  --84-gray: hsl(0, 0%, 84%); /* review box input text, remove from wishlist hover, close news text, review title */
  --75-gray: hsl(210, 8%, 75%); /* various text + headers */
  --60-gray: hsl(210, 8%, 60%); /* Similar to games + no reviews (StoreHome), footer content + various light text, review posted date, wishlist right gradient, news modal x */
  --54-gray: hsl(0, 0%, 54%); /* text for no reviews, review is posted, library breadcrumb, footer links divider */
  --40-gray: hsl(205, 6%, 40%); /* footer + review divider lines, install solar button bg */
  --33-gray: hsl(214, 11%, 33%); /* mail button hover bg, litterbug border, scrollbar, close news hover */
  --24-gray: hsl(214, 11%, 24%); /* footer border, close news, featured sidebar tag, news border gradient circle, mail button bg */
  --15-gray: hsl(0, 0%, 15%); /* litterbug bg */

  --83-blue-gray: hsl(206, 29%, 83%); /* various text + links */
  --40-blue-gray: hsl(203, 15%, 40%); /* various muted text + no reviews (GameShow) */

  --pale-orange-text: hsl(32, 100%, 95%);
  --87-orange-gray:   hsl(32, 80%, 77%); /* TabList bg left, link to cart text */
  --71-orange-gray:   hsl(32, 50%, 61%); /* TabList bg mid */
  --60-orange-gray:   hsl(36, 25%, 60%); /* TabList bg right */

  --helpful-green: hsl(85, 68%, 50%); /* and relevant green check + link to cart */
  --mixed-rating:  hsl(38, 33%, 59%); /* only text */
  --funny-yellow:  hsl(59, 58%, 48%); /* only */

  --80-tint:   hsla(0, 0%, 0%, 0.8); /* modal */
  --50-tint:   hsla(0, 0%, 0%, 0.5);
  --40-tint:   hsla(0, 0%, 0%, 0.4);
  --30-tint:   hsla(0, 0%, 0%, 0.3);
  --20-tint:   hsla(0, 0%, 0%, 0.2);
  --10-tint:   hsla(0, 0%, 0%, 0.1);
  --blue-tint: hsla(202, 88%, 68%, 0.2); /* light blue button bg */
  --40-tint-white: hsla(0, 0%, 100%, 0.4); /* link to wishlist bg, search shadow */
  --30-tint-white: hsla(0, 0%, 100%, 0.3); /* buy box gradient right */
  --20-tint-white: hsla(0, 0%, 100%, 0.20);
  --15-tint-white: hsla(0, 0%, 100%, 0.15); /* sign in form input bg hover */
  --10-tint-white: hsla(0, 0%, 100%, 0.1); /* sign in form input bg */

  /* login + signup buttons and ubiquitous orange-button */
  --neon-orange-gradient: linear-gradient(
    to right,
    var(--light-orange) 0%,
    var(--strong-orange) 100%
  );
  --neon-orange-gradient-30: linear-gradient(
    to right,
    var(--light-orange) 30%,
    var(--strong-orange) 100%
  );
  --neon-orange-gradient-60: linear-gradient(
    to right,
    var(--light-orange) 60%,
    var(--strong-orange) 100%
  );
}

body {
  background-color: var(--dark-blue);
  color: white;
}

.glow {
  text-shadow: 0 0 24px var(--light-orange);
  transition: 0.2s;
  color: var(--light-orange);
}

.glow:hover {
  text-shadow:
    0 0 24px var(--light-orange),
    0 0 32px var(--light-orange);
}

.main-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-error {
  background: var(--main-red-thumb);
  color: black;
  position: absolute;
  top: 105px;
  right: 0;
  padding: 10px 20px;
  animation: flashErrorsFadeIn 2s;
}

.light-blue-button {
  color: var(--light-blue);
  background: color-mix(in hsl, var(--light-blue), transparent 80%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 32px;
  padding: 0 15px;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue-button:not(:disabled):hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--light-blue) 5%, var(--mid-blue) 95%);
  color: white;
}

.light-blue-button:not(:disabled):active {
  background: linear-gradient(to right, var(--light-blue) 45%, var(--mid-blue) 95%);
}

.light-blue-button:disabled {
  opacity: 0.45;
  cursor: default;
}

/* cart checkout, store home page 'sign in', buy box */
.orange-button {
  color: var(--pale-orange-text);
  height: 30px;
  padding: 0 15px;
  background: var(--neon-orange-gradient);
  border: none;
  border-radius: 3px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px var(--30-tint);
}

.orange-button:not(:disabled):hover {
  background: var(--neon-orange-gradient-30);
  color: white;
  cursor: pointer;
}

.orange-button:not(:disabled):active {
  background: var(--neon-orange-gradient-60);
}

.orange-button:disabled {
  opacity: 0.45;
  cursor: default;
}

/* Reviews */
.orange-line-top::before {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--neon-orange-gradient);
  display: block;
  position: absolute;
  top: 0;
}

/* Game show */
.orange-line-bottom::after {
  content: "";
  height: 1px;
  background: var(--neon-orange-gradient);
  width: 100%;
  display: block;
  margin-top: 4px;
}

.no-rating {
  color: var(--40-blue-gray);
}

.light-blue-rating {
  color: var(--light-blue);
}

.mixed-rating {
  color: var(--mixed-rating);
}

.main-red-thumb {
  color: var(--main-red-thumb);
}

sup {
  font-size: .83em;
  vertical-align: super;
}

@keyframes flashErrorsFadeIn {
  0% { background-color: white; }
  100% { background-color: var(--main-red-thumb); }
}

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--33-gray);
  border-radius: 15px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid var(--33-gray);
}

::-webkit-scrollbar-corner {
  background: transparent;
}