/* Site wide styles */
@import url('reset.css');

:root {
  --strong-blue: hsl(220, 100%, 60%); /* only login + signup buttons */
  --neon-blue:   hsl(195, 100%, 50%); /* only login + signup buttons */

  --light-blue:  hsl(201, 81%, 67%); /* links and positive rating */
  --ml-blue:     hsl(202, 41%, 43%); /* some gradients */
  --mid-blue:    hsl(202, 41%, 33%); /* only light blue button hover */
  --medium-blue: hsl(213, 35%, 16%); /* main bg color */
  --dark-blue:   hsl(222, 18%, 11%); /* header and footer */

  --90-gray:     hsl(0, 0%, 90%); /* various text + links */
  --75-gray:     hsl(0, 0%, 75%); /* various text + headers */
  --60-gray:     hsl(0, 0%, 60%); /* only Similar to games + no reviews (StoreHome) */
  --7-gray:      hsl(0, 0%, 7%); /* only link to cart/wishlist hover text */

  --83-grayb:    hsl(206, 29%, 83%); /* various text + links */
  --71-grayb:    hsl(202, 41%, 71%); /* only tab list bg */
  --60-grayb:    hsl(206, 19%, 60%); /* only tab list bg */
  --40-grayb:    hsl(203, 15%, 40%); /* various muted text + no reviews (GameShow) */

  --70-graybb:   hsl(210, 8%, 70%); /* game and review body text */
  --59-graybb:   hsl(208, 8%, 59%); /* footer content + various light text */
  --40-graybb:   hsl(205, 6%, 40%); /* footer dividers and install solar button only */
  --24-graybb:   hsl(214, 11%, 24%); /* only footer border */

  --13-gray:     hsl(0, 0%, 13%); /* only scrollbar corner */
  --32-grayb:    hsl(220, 5%, 32%); /* only scrollbar */

  --40-tint:     hsla(0, 0%, 0%, 0.4);
  --30-tint:     hsla(0, 0%, 0%, 0.3);
  --20-tint:     hsla(0, 0%, 0%, 0.2);
  --blue-tint:   hsla(202, 88%, 68%, 0.2); /* light blue button bg */

  /* green button refers to cart checkout button and StoreHomePage sign in */
  --pale-green:  hsl(73, 68%, 72%); /* green button text */
  --42-green:    hsl(73, 93%, 42%); /* green button top hovered + link-to-cart text + green check + review form header  */
  --31-green:    hsl(73, 93%, 31%); /* green button top */
  --27-green:    hsl(73, 93%, 27%); /* green button bottom hovered */
  --21-green:    hsl(73, 93%, 21%); /* green button bottom */

  /* Add to Cart button */
  --pale-green-2: hsl(85, 69%, 80%); /* only */
  --left-green:   hsl(85, 68%, 41%); /* only */
  --right-green:  hsl(87, 67%, 32%); /* only */
  --left-green-hover:  hsl(85, 68%, 50%); /* only */
  --right-green-hover: hsl(87, 67%, 39%); /* only */

  --error-orange: hsl(24, 71%, 64%); /* only */
  --mixed-rating: hsl(38, 33%, 59%); /* only */
  --red-rating:   hsl(19, 63%, 39%); /* only */

  --neon-blue-sweep: linear-gradient( /* only login + signup buttons */
    to right, var(--neon-blue) 0%, var(--strong-blue) 100%
  );
  --neon-blue-sweep-30: linear-gradient(
    to right, var(--neon-blue) 30%, var(--strong-blue) 100%
  );
  --neon-blue-sweep-60: linear-gradient(
    to right, var(--neon-blue) 60%, var(--strong-blue) 100%
  );

  --dull-blue-sweep: linear-gradient( /* fancy line on game show page */
    to right, hsl(201, 41%, 39%) 0%, transparent 100%
  );
}

body {
  background-color: var(--dark-blue);
  color: white;
}

.main-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-error {
  background: var(--error-orange);
  color: black;
  position: absolute;
  top: 105px;
  right: 0;
  padding: 10px 20px;
  animation: flashErrorsFadeIn 2s;
}

.light-blue-button {
  color: var(--light-blue);
  background: var(--blue-tint);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 32px;
  padding: 0 15px;
  margin-bottom: -2px;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue-button:not(:disabled):hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--light-blue) 5%, var(--mid-blue) 95%);
  color: white;
}

.light-blue-button:disabled {
  opacity: 0.45;
  cursor: default;
}

/* Top-down gradient: cart checkout and store home page 'sign in' */
.green-button {
  color: var(--pale-green);

  height: 30px;
  padding: 0 15px;
  background: linear-gradient(var(--31-green) 5%, var(--21-green) 95%);
  border: none;
  border-radius: 3px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  margin-left: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.green-button:not(:disabled):hover {
  background: linear-gradient(to bottom, var(--42-green) 5%, var(--27-green) 95%);
  color: white;
  cursor: pointer;
}

.green-button:disabled {
  opacity: 0.45;
  cursor: default;
}

/* Left-to-right gradient, 'Add to Cart' */
.add-to-cart-button {
  color: var(--pale-green-2);

  height: 30px;
  padding: 0 15px;
  background: linear-gradient(to right, var(--left-green) 5%, var(--right-green) 95%);
  border: none;
  border-radius: 2px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  margin-right: 1px;
  text-shadow: 1px 1px 0px var(--30-tint);
}

.add-to-cart-button:not(:disabled):hover {
  background: linear-gradient(to right, var(--left-green-hover) 5%, var(--right-green-hover) 95%);
  color: white;
  cursor: pointer;
}

.add-to-cart-button:disabled {
  opacity: 0.45;
  cursor: default;
}

/* Blue line gradient on top */
.dull-blue-line-top::before {
  content: "";
  height: 1px;
  background: var(--dull-blue-sweep);
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.neon-blue-line-top::before {
  content: "";
  height: 1px;
  background: var(--neon-blue-sweep);
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}

/* Blue line gradient on bottom */
.blue-line-bottom::after {
  content: "";
  height: 1px;
  background: var(--dull-blue-sweep);
  width: 100%;
  display: block;
  margin-top: 4px;
}

.no-rating {
  color: var(--40-grayb);
}

.light-blue-rating {
  color: var(--light-blue);
}

.mixed-rating {
  color: var(--mixed-rating);
}

.red-rating {
  color: var(--red-rating);
}

sup {
  font-size: .83em;
  vertical-align: super;
}

@keyframes flashErrorsFadeIn {
  0% { background-color: white; }
  100% { background-color: var(--error-orange); }
}

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--32-grayb);
  border-radius: 15px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid var(--32-grayb);
}

::-webkit-scrollbar-corner {
  background: var(--13-gray);
}