/* Site wide styles */
@import url('reset.css');

body {
  background-color: #181a21;
  color: white;
}

.main-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-error {
  background: #e49762;
  color: black;
  position: absolute;
  top: 105px;
  right: 0;
  padding: 10px 20px;
  animation: flashErrorsFadeIn 2s;
}

.light-blue-button {
  height: 32px;
  padding: 0 15px;
  background: rgba( 103, 193, 245, 0.2 );
  border: none;
  color: #67c1f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 2px;
  margin-bottom: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue-button:hover {
  cursor: pointer;
  background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%) !important;
  color: white;
}

.light-blue-button:disabled {
  opacity: 0.45;
  cursor: default;
}

.light-blue-button:disabled:hover {
  background: rgba( 103, 193, 245, 0.2 );
  color: #67c1f5;
}

/* Top-down gradient, like cart checkout and store home page 'sign in' */

.green-button {
  color: #D2E885;

  height: 30px;
  padding: 0 15px;
  background: linear-gradient(#799905 5%, #536904 95%);
  border: none;
  border-radius: 3px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  margin-left: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.green-button:hover {
  background: linear-gradient( to bottom, #a4d007 5%, #6b8705 95%);
  color: white;
  cursor: pointer;
}

.green-button:disabled {
  opacity: 0.45;
  cursor: default;
}

.green-button:disabled:hover {
  background: linear-gradient(#799905 5%, #536904 95%);
  color: #D2E885;
}

/* Left-to-right gradient, 'Add to Cart' */

.add-to-cart-button {
  color: #d2efa9; 
  
  height: 30px;
  padding: 0 15px;
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  border: none;
  border-radius: 2px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  margin-right: 1px;
  text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
}

.add-to-cart-button:hover {
  background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
  color: white;
  cursor: pointer;
}

.add-to-cart-button:disabled {
  opacity: 0.45;
  cursor: default;
}

.add-to-cart-button:disabled:hover {
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  color: #d2efa9; 
}

/* Blue line gradient on top */

.blue-line-top::before {
  content:"";
  height:1px;
  background:linear-gradient(to right, #3a6e8b 0%, transparent 100%);
  width:100%;
  display:block;
  position: absolute;
  top: 0;
}

.strong-blue-line-top::before {
  content:"";
  height: 1px;
  background:linear-gradient(to right, #00ccff, #3366ff);
  width:100%;
  display:block;
  position: absolute;
  top: 0;
}

/* Blue line gradient on bottom */

.blue-line-bottom::after {
  content:"";
  height:1px;
  background:linear-gradient(to right, #3a6e8b 0%, transparent 100%);
  width:100%;
  display:block;
  margin-top: 4px;
}

.no-rating {
  color: #556772;
}

.light-blue-rating {
  color: #66C0F4;
}

.mixed-rating {
  color: #B9A074;
}

.red-rating {
  color: #A34C25;
}

sup {
  font-size: .83em;
  vertical-align: super;
}

@keyframes flashErrorsFadeIn {
  0% { background-color: white; }
  100% { background-color: #e49762; }
}

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4e5157;
  border-radius: 15px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 4px solid #4e5157;  
}

::-webkit-scrollbar-corner {
  background: #202020;
}