.cart-page {
  width: 100%;
  padding-bottom: 100px;
  background-color: var(--medium-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.checkout-page-body-p {
  font-family: 'Motiva Sans 300', sans-serif;
  font-size: 13px;
  color: var(--83-grayb);
}

.cart-page-glow-background {
  background: url(https://store.akamai.steamstatic.com/public/images//v6/temp/cluster_bg_2.png) bottom center no-repeat;
  width: 100%;
  height: 230px;
  position: absolute;
  z-index: -1;
}

.cart-page-title-wrapper {
  width: 940px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-page-title-wrapper span {
  font-size: 12px;
  color: #56707f;
}

.cart-page-title-wrapper span a {
  color: #56707f;
  text-decoration: none;
}

.cart-page-title-wrapper span a:hover {
  color: white;
  cursor: pointer;
}

.cart-page-title-wrapper h1 {
  font-size: 26px;
  font-family: 'Motiva Sans 300', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 40%);
}

.cart-page-main-column-wrapper {
  margin-top: 46px;
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.cart-page-main-left {
  width: 616px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.checkout-wrapper {
  background: var(--20-tint);
  width: 100%;
  padding: 30px 16px 23px 16px;
  box-sizing: border-box;
}

.estimated-total-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: var(--83-grayb);
}

.estimated-total-wrapper h1 {
  font-family: 'Motiva Sans 700', sans-serif;
  display: inline;
}

.checkout-wrapper > p {
  margin-top: 26px;
}

.checkout-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

/* Cart checkout button refactored to index as .green-button */

.sales-tax-disclaimer-wrapper {
  display: flex;
  padding: 21px 16px 23px 16px;
}

.sales-tax-disclaimer-wrapper * {
  font-family: 'Motiva Sans 300', sans-serif;
}

.sales-tax-disclaimer-wrapper sup {
  margin-right: 8px;
}

.continue-shopping-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.continue-shopping {
  height: 30px;
  font-family: 'Motiva Sans 400', sans-serif;
  text-decoration: none;
}

.cart-remove {
  /* the remove button */
  margin-top: 6px;
  color: #56707f;
  text-decoration: underline;
  font-size: 11px;
}

.cart-remove:hover {
  cursor: pointer;
  color: var(--light-blue);
}

.cart-page-main-right {
  width: 308px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.192);
}

