.cart-item-wrapper {
  width: 100%;
  height: 77px;
  margin-bottom: 3px;
  background-color: var(--20-tint);
  display: flex;
  align-items: center;
  padding: 0 2.5%;
  box-sizing: border-box;
}

.cart-item-wrapper img {
  width: 120px;
  height: 45px;
  object-fit: cover;
}

.cart-item-wrapper > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 23px 0 0 3%;
  color: var(--83-blue-gray-text);
  font-size: 13px;
  box-sizing: border-box;
}

.cart-item-wrapper > div > a {
  color: var(--83-blue-gray-text);
  text-decoration: none;
}

.price-and-remove {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.cart-item-price {
  color: var(--83-blue-gray-text);
  font-size: 13px;
  margin-top: -2px;
}