.cart-page {
  width: 100%;
  background-color: #1b2838;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.checkout-page-body-p {
  font-family: 'Motiva Sans 300', sans-serif;
  font-size: 13px;
  color: #c6d4df;
}

.cart-page-glow-background {
  background: url(https://store.akamai.steamstatic.com/public/images//v6/temp/cluster_bg_2.png) bottom center no-repeat;
  width: 100%;
  height: 230px;
  position: absolute;
  z-index: -1;
}

.cart-page-title-wrapper {
  width: 940px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-page-title-wrapper p {
  font-size: 12px;
  color: #56707f;
}

.cart-page-title-wrapper h1 {
  font-size: 26px;
  font-family: 'Motiva Sans 300', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 40%);
}

.cart-page-main-column-wrapper {
  margin-top: 46px;
  width: 940px;
  height: 1000px;
  display: flex;
  justify-content: space-between;
}

.cart-page-main-left {
  width: 616px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.checkout-wrapper {
  background: rgba( 0, 0, 0, 0.2 );
  width: 100%;
  padding: 30px 16px 23px 16px;
  box-sizing: border-box;
}

.estimated-total-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #c7d5e0;
}

.estimated-total-wrapper h1 {
  font-family: 'Motiva Sans 700', sans-serif;
  display: inline;
}

.checkout-wrapper > p {
  margin-top: 26px;
}

.checkout-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.checkout-buttons button {
  padding: 0 15px;
  color: #D2E885;
  background-image: linear-gradient(rgb(121, 153, 5) 5%, rgb(83, 105, 4) 95%);
  border: none;
  border-radius: 3px;
  height: 30px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  margin-left: 16px;
}

.checkout-buttons button:hover {
  background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
  cursor: pointer;
  color: white;
}

.checkout-buttons button:disabled {
  opacity: 0.45;
  cursor: default;
}

.checkout-buttons button:disabled:hover {
  background-image: linear-gradient(rgb(121, 153, 5) 5%, rgb(83, 105, 4) 95%);
  color: #D2E885;
}

.sales-tax-disclaimer-wrapper {
  display: flex;
  padding: 21px 16px 23px 16px;
}

.sales-tax-disclaimer-wrapper * {
  font-family: 'Motiva Sans 300', sans-serif;
}

.sales-tax-disclaimer-wrapper sup {
  margin-right: 8px;
}

.continue-shopping-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.continue-shopping {
  height: 30px;
  font-family: 'Motiva Sans 400', sans-serif;
}

.cart-remove { 
  /* the remove button */
  margin-top: 6px;
  color: #56707f;
  text-decoration: underline;
  font-size: 11px;
}

.cart-remove:hover {
  cursor: pointer;
  color: #67c1f5;
}

.cart-page-main-right {
  width: 308px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.192);
}

