.login-form {
  background-color: #181a21;
  display: flex;
  flex-direction: column;
  color: #1999ff;
}

.login-form label {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 513px;
}

.login-form input {
  box-sizing: border-box;
  height: 47px;
}

.login-form button {
  width: 337px;
  height: 62px;
}