.login-page-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  background-image: radial-gradient(rgba(24, 26, 33, 0) 0%, rgb(24, 26, 33) 100%), url(login_background.jpg);
}

.login-form {
  background-color: #181a21;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 174px;
  padding: 24px 32px;
  box-sizing: border-box; 
  width: 700px;
  height: 328px;
  color: #1999ff;
  position: relative;
}

.login-form h1 {
  position: absolute;
  text-transform: uppercase;
  font-family:'Motiva Sans 100', sans-serif;
  font-size: 32px;
  color: white;
  font-weight: 200;
  top: -75px;
  left: 20px;
}

.login-form label {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Motiva Sans 500', sans-serif;
  margin-bottom: 4px;
}

.login-form label:last-of-type {
  color: #afafaf;
  font-family: 'Motiva Sans 400', sans-serif;
}

.login-form input {
  /* box-sizing: border-box; */
  width: 614px;
  height: 17px;
  padding: 10px;
  font-size: 15px;
  background-color: #32353c;
  border: 1px solid transparent;
  border-radius: 2px;
  margin-bottom: 16px;
  outline: none;
  color: white;
}

.login-form input:hover {
  background-color: #393c44;
}

.login-form button {
  width: 270px;
  height: 50px;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  outline: none;
  border: none;
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: 'Motiva Sans 500', sans-serif;
  font-size: 18px;
  color: white;
  margin: 28px auto 0 auto;
}

.login-form button:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.login-form button:active {
  outline: 1px solid #06bfff;
}

.error-border {
  border: 1px solid #c15755 !important;
}

.login-form-errors {
  margin: 16px auto 0 auto;
}

.login-form-errors li {
  font-family: 'Motiva Sans 500', sans-serif;
  font-size: 12px;
  color: #c15755;
}

.demo-user-link {
  color: #b8b6b4;
  font-size: 11px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 26px;
}

.demo-user-link:hover {
  color: #E9E9E9;
}