.signup-page {
  display: flex;
  width: 100%;
  background-color: var(--15-blue);
  /* background-color: var(--dark-blue); */
  position: relative;
  height: 847px;
}

.signup-page-background {
  width: 490px;
  height: 740px;
  background-image: radial-gradient(30% 40% at center, transparent 0%, rgb(33, 36, 41, 0.3) 0%, rgba(33, 36, 41, 0.3) 100%), url(signup_page_background.jpg);
  background-position: 62% 60%;
  position: absolute;
  right: 80%;
}

.signup-page-form-column {
  width: 940px;
  height: 847px;
  padding: 50px;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.signup-form {
  /* Form */
  display: flex;
  flex-direction: column;
  color: white;
  width: 700px;
  height: 623px;
  padding: 26px 10px;
}

.signup-form-errors {
  border: 2px solid var(--error-red);
  background-color: var(--40-tint);
  width: 676px;
  padding: 10px;
  margin-left: -7px;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 23px;
  animation: signupErrorsFadeIn 1.25s;
}

@keyframes signupErrorsFadeIn {
  0% { background-color: var(--error-orange); }
  100% { background-color: var(--40-tint); }
}

.signup-form h1 {
  font-family: 'Motiva Sans 100';
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 34px;
  letter-spacing: 2px;
}

.signup-form label {
  /* text-transform: uppercase; */
  font-size: 14px;
  color: var(--75-gray-text);
  margin: 5px 0 5px 0;
}

.signup-form input {
  box-sizing: border-box;
  background-color: var(--24-graybb);
  width: 292px;
  height: 18px;
  padding: 8px 6px;
  box-sizing: content-box;
  border-radius: 3px;
  border: none;
  color: var(--90-gray-text);
  margin-bottom: 25px;
  font-size: 13px;
}

.captcha-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 74px;
  border: 1px solid var(--33-gray);
  background-color: var(--15-gray);
  margin-bottom: 15px;
}

.captcha-wrapper label {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}

.captcha-wrapper input {
  display: flex;
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px;
  border: 2px solid hsl(0, 0%, 70%);
  box-shadow: inset 0px 1px 1px var(--10-tint);
  margin: 0 12px;
}

.captcha-logo-wrapper {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 74px;
  padding-top: 6px;
  margin-right: 12px;
}

.captcha-logo-wrapper i {
  font-size: 40px;
}

.captcha-logo-wrapper h3 {
  font-family: 'Motiva Sans 500', sans-serif;
  font-size: 10px;
}

.captcha-logo-wrapper h4 {
  font-size: 7px;
}

.agreement-wrapper {
  text-transform: none;
}

.agreement-wrapper input {
  margin: 5px;
  padding: 0;
  width: 18px;
  height: 18px;
}

.agreement-wrapper a {
  color: white;
  text-decoration: none;
}

.agreement-wrapper a:hover {
  color: --var(--light-blue);
}

.signup-form button {
  background: var(--neon-blue-sweep);
  width: 162px;
  height: 38px;
  border: none;
  font-family: 'Motiva Sans 500', sans-serif;
  font-size: 14px;
  color: white;
  border-radius: 2px;
  margin-top: 35px;
}

.signup-form button:hover {
  background: var(--neon-blue-sweep-30);
  cursor: pointer;
}

.signup-form button:active {
  background: var(--neon-blue-sweep-60);
  outline: 1px solid var(--neon-blue);
}