.game-show-page {
  background-color: #1b2838;
  width: 100vw;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.game-show-page-dynamic-background {
  position: absolute;
  width: 1438px;
  height: 789px;
  z-index: -1;

  /* background-color: rgba(255, 0, 255, 0.179); */
}

.game-show-title-wrapper {
  width: 940px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  padding: 14px 0 16px 0;
  box-sizing: border-box;
}

.game-show-title-wrapper div:first-child {
  width: 50%;
}

.game-show-breadcrumbs {
  font-size: 12px;
  color: #8f98a0;
}

.game-show-breadcrumbs a {
  text-decoration: none;
  color: #8f98a0;
}

.game-show-breadcrumbs a:hover {
  color: white;
}

.game-show-title-wrapper div:first-child h1 {
  font-size: 26px;
  margin-top: 6px;
}

.game-show-title-wrapper div:last-child {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* community-hub button style refactored to light-blue-button */

.game-show-main-box-wide-wrapper {
  width: 100%;
  height: 444px;
  position: absolute;
  top: 156px;
  display: flex;
  justify-content: center;
}

.game-show-main-box {
  width: 940px;
  height: 432px;
  padding-bottom: 12px;
  background: linear-gradient(to right, rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
  display: flex;
  justify-content: space-between;
}

/* Thank you Mario! */
/* But our carousel CSS is in another file!  */

.game-show-main-info-panel {
  font-family: Arial, Helvetica, sans-serif;
  width: 324px;
}

.game-show-main-info-panel * {
  font-family: inherit;
}

.game-show-main-info-panel img {
  width: 100%;
}

.game-show-main-info-panel > p {
  font-size: 13px;
  line-height: 18px;
  color: #c6d4df;
  display: flex;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 13px;
}

.game-info-table {
  width: 100%;
  margin-left: -2px;
}

.game-info-table * {
  vertical-align: middle;
}

.game-info-table tr {
  height: 15px;
}

.game-info-table th {
  text-transform: uppercase;
  font-size: 10px;
  text-align: start;
  width: 104px;
  color: #556772;
}

.game-info-table td {
  font-size: 12px;
}

.review-summary:hover {
  cursor: pointer;
}

.review-summary td, .developer-publisher {
  color: #66C0F4;
}

.review-summary td p {
  display: inline;
  margin-left: 4px;
  font-size: 12px;
  
  color: #556772;
}

.release-date-row th, .release-date-row td {
  height: 32px;
}

.release-date-row td {
  color: #8f98a0;
}

.developer-publisher:hover {
  color: white;
  cursor: pointer;
}

.popular-tags {
  margin-top: 12px;
  font-size: 12px;
  color: #556772;
  display: flex;
  flex-direction: column;
}

.user-tags-row {
  margin-top: 4px;
  height: 22px;
  display: flex;
}

.user-tags-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
  margin: 0px 2px 3px 0;
  color: #67c1f5;
  background-color: rgba(103, 193, 245, 0.2);
  border: none;
  border-radius: 2px;
  height: 19px;
  font-size: 11px;
}

.user-tags-row button:hover {
  color: #ffffff;
  background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
  cursor: pointer;
}

.wishlist-buttons-bar {
  margin-top: 444px;
  width: 908px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #c6d4df;
  padding: 16px;
  margin-bottom: 32px;
}

.wishlist-buttons-bar a {
  font: inherit;
  text-decoration: none;
  color: white;
  margin-right: 3px;
}
.game-show-main-column-wrapper {
  width: 940px;
  /* height: 200px; */
  display: flex;
  justify-content: space-between;
}

.game-show-main-left {
  width: 616px;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.075); */
}

.buy-box {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding: 20px 16px 26px 16px;
  background-image: linear-gradient( -60deg, rgba(226, 244, 255, 0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
  font-size: 21px;
  border-radius: 4px;
  position: relative;
}

.buy-box-buttons {
  background-color: black;
  border-radius: 2px;
  /* width: 183px; */
  height: 32px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  position: absolute;
  right: 15px;
  bottom: -16px;
}

.buy-box-buttons p {
  /* width: 38%; */
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color: #c6d4df;
  padding: 0 10px;
}

.add-to-cart-button {
  color: #d2efa9; 
  
  height: 30px;
  padding: 0 15px;
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  border: none;
  border-radius: 2px;
  font-family: 'Motiva Sans 400';
  font-size: 15px;
  margin-right: 1px;
  text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
}

.add-to-cart-button:hover {
  background: linear-gradient( to right, #8ed629 5%, #6aa621 95%);
  color: white;
  cursor: pointer;
}

.add-to-cart-button:disabled {
  opacity: 0.45;
  cursor: default;
}

.add-to-cart-button:disabled:hover {
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  color: #d2efa9; 
}

.about-this-game {
  width: 98%;
  margin-top: 30px;
  font-size: 14px;
  color: #acb2b8;
  line-height: 1.5em;
  white-space: pre-line;
}

.about-this-game h1 {
  text-transform: uppercase;
  margin-bottom: 16px;
  color: white;
}

.about-this-game h1::after {
  content:"";
  height:1px;
  background:linear-gradient(to right, #3a6e8b 0%, transparent 100%);
  width:100%;
  display:block;
  margin-top: 4px;
}


.game-show-main-right {
  width: 308px;
  height: 100%;
}