@font-face {
  font-family: 'Steam Logo';
  src: url('../../fonts/DIN/DINBold.ttf');
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171a21;
  color: #b8b6b4;
  height: 104px;
  padding-left: 11px;
}

.header-nav-content {
  width: 940px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 30px;
}

.logo {
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 28px;
  position: absolute;
  left: 0;
}

.logo i {
  font-size: 44px;
  margin-left: -20px;
  margin-right: 8px;
}

.logo h1 {
  font-family: 'Steam Logo', sans-serif;
  transform: scaleY(0.85);
  text-transform: uppercase;
}

.center-cluster {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  position: absolute;
  left: 208px;
  height: 100%;
  margin-top: -4px;
}

.center-cluster a {
  padding: 0 7px 6px 7px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  color: inherit;
  text-decoration: inherit;
}

.center-cluster a:hover {
  color: white;
}

.right-cluster {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 6px;
  right: 0px;
  height: 24px;
}

.fa-envelope {
  font-size: 11px;
}

.login-signup-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 11px;
  margin-left: -14px;
  margin-right: 12px;
}

.login-signup-links a {
  color: #b8b6b4;
  font-size: 11px;
  text-decoration: none;
  margin: 0 11px 0 11px;
}

.login-signup-links a:hover {
  color: white;
}

.install-solar {
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
  align-items: center;
  width: 110px;
  height: 24px;
  background-color: #616a72;
  color: #e5e4dc;
  border: none;
  font-size: 11px;
  margin-right: 14px;
}

.install-solar i {
  margin-top: -2px;
  font-size: 14px;
  color: white;
  margin-right: 10px;
}

.install-solar:hover {
  cursor: pointer;
  color: white;
}

.green {
  background-color: #5c7e10;
}

.login-signup-links {
  color: #b8b6b4;
}

.mail-button {
  width: 27px;
  height: 24px;
  background-color: #262625;
  border: none;
  cursor: pointer;
  color: white;
  margin-right: 6px;
}

.mail-button:hover {
  background-color: #575451;
}

.green-cart-link {
  height: 20px;
  border: none;
  border-radius: 1px;
  position: absolute;
  right: -10px;
  bottom: -28px;
  color: #a4d007;
  box-shadow: 0 0 4px #000;
  background-color: rgba( 164, 208, 7, 0.4 );
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 26px;
  z-index: 2;
}

.green-cart-link:hover {
  color: #111111;
  background-color: rgba( 164, 208, 7, 0.75 );
  cursor: pointer;
}